<div class="container">
    <form action="">
      <h1>Sign Up</h1>
      <div class="grp">
         <label for="" class="lbl">Username</label>
         <input type="text" class="cntrl" required>
      </div>
      <div class="grp">
        <label for="" class="lbl">Email</label>
        <input type="text" class="cntrl" required>
      </div>
      <div class="grp">
        <label for="" class="lbl">Password</label>
        <input type="password" class="cntrl" required>
      </div>
      <div>
        <a routerLink="/todo">
        <input type="button" class="btn" value="Go" required>
      </a>
      </div> 
    </form>
  </div>